.App {
  text-align: center;
  background-color: black;
  height: 100vh;
}
.textBox{
  height: 30%;
  width: 50%;
  margin: 10px;
}
.textBox:focus {
  border: none;
  outline: none;
}
.submit{
  height: 50px;
  width:150px;
  border-radius: 4px;
  display: block;
  margin: auto;
}