.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  margin-top: 20px;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.textBox{
  height: 30%;
  width: 50%;
  margin: 10px;
}
.textBox:focus {
  border: none;
  outline: none;
}
.submit{
  height: 50px;
  width:150px;
  border-radius: 4px;
  display: block;
  margin: auto;
}
.resultsTable{
  color:white;
  font-size: 14px;
  text-align: center;
}
.sliderDiv{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-top: 50px;
}
.slider{
  margin: 0px 5px;
}