.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  padding-top: env(safe-area-inset-top);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
.textBox{
  height: 30%;
  width: 50%;
  margin: 10px;
}
.textBox:focus {
  border: none;
  outline: none;
}
.submit{
  height: 50px;
  width:150px;
  border-radius: 4px;
  display: block;
  margin: auto;
}